.input-border, input {
    border: none
}

label {
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    padding-top:5px;
}

.form {
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
}
.form p {
    width: 244px;
    height: 94.59px;
    font-family: 'Fournier';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 113.3%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    padding-top: 1em;
}


.form-thankyou {
    max-width: 531px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 2em;
}

.form-thankyou p {
    width: 296px;
    height: 34.59px;
    font-family: 'Fournier';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 113.3%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    padding-top: 1em;
}


.form label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
}
.form h4 {
    text-transform: uppercase;
    font-family: 'Fournier';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 113.3%;
    /* or 17px */
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;

}

.form button {
    height: 34px;
    background: #332F2F;
    border: none;
    border-radius: 23px;
    color: #fff;
    position: relative;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
}